@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: url('#') no-repeat top center / contain;
    background-color: #E3EDE0;
    font-family: 'Ubuntu Mono', sans-serif;
    text-align: center;
    color: #E3EDE0;
}

/* ---------------------------------------------------------General Form Style---------------------------------------------------------  */

input:focus, select:focus, textarea:focus{
    outline: none;
}

input {
    height: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
}

input[type=submit] {
    height: 26px;
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(211, 100, 82, 1);
    color: #E3EDE0;
}

input[type=submit]:hover {
    color: rgba(211, 100, 82, 1);
    background-color: #E3EDE0;
}


fieldset {
    border: 1px solid #E3EDE0;
    border-radius: 10px;
    padding: 10px;
}


/* ---------------------------------------------------------Header/Navbar---------------------------------------------------------  */

nav {
    padding: 10px;
    margin: 10px;
    height: 10vh;
    border-bottom: 2px solid rgba(211, 100, 82, 1);
}

#menu {
    display: grid;
    grid-template-columns:  1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    list-style-type: none;
    text-transform: uppercase;
}

#logo {
    background: url('../images/trophy-icon.png') no-repeat center center / contain;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#home {
    grid-column: 2 / 3;
}

#tourny {
    grid-column: 2 / 3;
}

#signup {
    grid-column: 2 / 3;
}

#menu a {
    color: rgba(211, 100, 82, 1);
    text-decoration: none;
    font-size: 120%;
}

#menu a:hover {
    text-decoration: underline;
}



/* ---------------------------------------------------------About Section---------------------------------------------------------  */

#about {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 0.2rem min-content 2fr 0.2rem;
    margin: 10px;
    height: auto;
    gap: 10px;
    padding: 10px;
}

#about-image {
    background: url('../images/homepage-image-1.png') 0 0 / 100% 100% no-repeat;
    grid-area: 2 / 2 / 3 / 3;
    min-height: 100%;
    height: 20vh;
    border-radius: 10px;
}

#about-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    border-radius: 10px;
    margin: 16px;
    position: relative;
    bottom: 50px;
    background-color: rgba(211, 100, 82, 0.8);
    padding: 10px;
}

#about-text a {
    color: #ac4e3f;
    text-decoration: none;
    text-transform: uppercase;
}

#about-text a:hover {
    color: rgba(211, 100, 82, 1);
    text-decoration: underline;
}

/* ---------------------------------------------------------Meetup Section---------------------------------------------------------  */

#meetup {
    display: grid;
    background: url('../images/meetup-image.png') 50% 0 / cover no-repeat;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 0.2rem min-content 1fr 0.2rem;
    margin: 10px;
    height: auto;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#meetup-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-radius: 10px;
    margin: 16px;
    position: relative;
    background-color: rgba(211, 100, 82, 0.8);
    padding: 10px;
}

#meetup-times {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    text-align: center;
    padding: 5px;
}

#meetup-times > div {
    background-color: rgba(211, 100, 82, 0.8);
    padding: 10px;
    border-bottom: 1px solid;
    border-radius: 10px;
}

/* ---------------------------------------------------------Tournaments Page---------------------------------------------------------  */

#tournaments {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: 25vh min-content min-content;
}


#tournaments-image {
    background: url('../images/trophypage-image.png') no-repeat center center / contain;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-radius: 15px;
}

#tournaments-about {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgba(211, 100, 82, 0.8);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    bottom: 40px;
    max-width: 75vw;
    margin: 0 auto;
}

#tournaments-form {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(211, 100, 82, 0.8);
    font-size: 110%;
    border-radius: 10px;
    text-align: left;
    min-width: 300px;
    align-items: center;
}

label {
    display: block;
}

/* ---------------------------------------------------------Tournaments Page---------------------------------------------------------  */

#signup-page {
    display: grid;
    grid-template-columns: 1rem 1fr 1rem;
    grid-template-rows: min-content min-content;
    gap: 10px;
}

#signup-about {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: rgba(211, 100, 82, 0.8);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    max-width: 40vw;
    min-width: 300px;
    margin: 0 auto;
}


#signup-form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 10px;
    margin: 0 auto;
    background-color: rgba(211, 100, 82, 0.8);
    font-size: 110%;
    border-radius: 10px;
    text-align: left;
    min-width: 300px;
    align-items: center;
}

.display-right label {
    display: inline-block;
}


/* ---------------------------------------------------------Footer---------------------------------------------------------  */


footer {
    height: 100px;
    width: 100%;
}

#social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    font-size: 150%;
    align-items: center;
    padding-top: 30px;
    list-style-type: none;
}

#social i {
    color: rgba(211, 100, 82, 1);
}